 .bgChatImgae{
    background-image: url('../../../public/pngtree-question-mark-on-a-pink-pastel-background-3d-illustration-picture-image_1236867.jpg');
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:5%;
 }
.chat_Page_Container{
    width:25%;
    height:450px;
    border:2px solid grey;
    
   margin-left:35%;
   background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
    opacity:0.85;
    border-radius:15px;
}

.headBox{
    background-color:#99678b;
    color:white;
    width:100%;
    height:70px;

}
.websitevisitor{
    width:50px;
    height:50px;
    border-radius:50%;
    color:black;
    margin-top:40px;
    margin-left:10px;
}
.howcaniHelpBox{
    width:53%;
    height:45px;
    background-color: rgb(227, 230, 232);
    border-top-right-radius:7px; ;
    border-bottom-right-radius:7px; ;
    border-bottom-left-radius:7px; 
    color:black;
    margin-left:13%;
    margin-bottom:10px;

}
.x{
    text-shadow:0 2px 3px rgb(9, 9, 9);
}
.x:hover{
 color:black;
}
.websiteUserIdName{
    text-shadow:0 2px 3px rgb(39, 38, 38);
}
.textarea{
    margin-left:4%;
    margin-top:18px;
    padding-top:10px;
    padding-left:10px;
    font-weight: 700;
    outline:none;
    box-shadow:0 1px 59px rgb(152, 149, 149);
    border:none;
    border-radius:10px;
}